<%- include('../partials/head')%>
<%- include('../partials/navbar')%>



<div class="container mt-4">
    <h1>Add a new Seller</h1>
    <form action="/stores" method="POST">
        <div class="form-group">
    
            <label>Company Name: </label>
            <input 
                name="name" 
                type="text"
                class="form-control"
                placeholder="Company Name">
            <br><br>   

            <label>Location: </label>
            <input 
                name="location" 
                type="text" 
                class="form-control"
                placeholder="Location">
                
            <br><br>   
               
            <label>Email:</label>
            <input 
                name="email" 
                type="text" 
                class="form-control"
                placeholder="email">

            <br><br>

        
            <label>Description: </label>
            <textarea
                type="text" 
                class="form-control"
                name="description" 
                placeholder="A brief description of your visit!"></textarea>
            </div>
            <button class="btn btn-light mt-4">Add</button>
        </div>
    </form>
    <button class="btn btn-light"><a href="/products">back</a></button>

</div>

