<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>Farm Stand Products</h1>
    <ul>
        <% for(let item of products){ %>
            <li><a href="/products/<%= item.id%>"><%= item.name %> - $<%= item.price %></a></li>
        <% } %>
    </ul>
</body>
</html>