<% layout('layouts/boilerplate') %>

<h1>Camp Grounds</h1>
<a href="/campgrounds/new">Add Campground</a>

<% for(let camps of campgrounds) { %>
    <li>
        <a href="/campgrounds/<%= camps.id%>">
        <%= camps.title %></a>
    </li>
<% } %>
