<% layout('layouts/boilerplate') %>

    <h1><%= camp.title %></h1>
    <h3><%= camp.location %></h3>

    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
    <a href="/campgrounds/<%= camp._id %>/edit">Edit Camp Information</a>
    <a href="/campgrounds">Back</a>
</body>
