
<div class="container">
    <h1><%= store.name %></h1>
    <h3>New Product Submission Form</h3>
    <form action="/stores/<%= store.id %>/products" method="POST">
        <div class="form-group">
    
            <label>Product Name : </label>
            <input name="name" type="text" class="form-control">
            
            <br><br>
    
            <label>Price : </label>
            <input name="price" type="number">
            
            <br><br>
            
            <label>Product Category : </label>
            <select name="category" class="form-control" id="exampleFormControlSelect1">
                <% for(let category of categories) { %>
                    <option><%= category %></option>
                <% } %>
            </select>
            
            <br><br>

            <label>Product Image URL</label>
            <input
                name="image"
                type="text"
                class="form-control">

            <button class="btn btn-light">Add</button>
        </div>
    </form>
    <button class="btn btn-light"><a href="/products">back</a></button>

</div>

