<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit Your Task!</h1>
    <form action="/todos/<%= id %>?_method=PATCH" method="POST">
        <label>Category</label>
        <input name="task" value=<%= task %>></input>
        <br><br>
        <label>Task Description</label>
        <textarea name="description" col="30" row="10"><%= description %></textarea>
        <br><br>
        <button>Save</button>
    </form>
</body>
</html>