<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Task</title>
</head>
<body>
    <h1>Create a new task here!</h1>
    <form action="/todos" method="POST">
        <label>Date: </label>
        <input name="date" id="date" type="text" placeholder="MM-DD-YYYY">

        <br>
        <br>

        <label>Task:</label>
        <input name="task" id="task" type="text" placeholder="Task">

        <br>
        <br>

    
        <label>Description</label>
        <textarea name="description" type="text" col="30" row="10" placeholder="Enter Description"></textarea>

        <br>
        <br>

        <button>Submit</button>
    </form>
    <a href="/todos">back</a>
</body>
</html>