<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Username" id="username">
        <br>
        <br>
        <label for="comment">Comment: </label>
        <textarea type="text" name="comment" placeholder="Write your comment here..." 
            id="comment" cols="30" rows="5"></textarea>
        <br><br>
        <button>Submit</button>        
    </form>
    <a href="/comments">back</a>
</body>
</html>